:root {
	--primary-color: hsl(214,84%,56%);
	--text-color: hsl(0,0%,31%);
	--bg-color: hsl(0,0%,90%);
	--bg-card-color: hsl(0,0%,98%);
	--border-radius:.4em;
	--transition: color 0.1s, background-color 0.2s ease-in-out;
	--skills-bar-length:0%;
}
* {
	box-sizing: border-box;
}

body{
	margin-right: 0;
	background-color: #333;
	font-size: 10px;
}
.title{
	letter-spacing: ;
	word-spacing: ;
	line-height: ;
	writing-mode: ;
}
.box{
 text-align: center;
 font-family: monospace;
 
}
.prac{
	height: 400px;
	width:400px;
	background-color: var(--color-primario);
	margin-left: 42%;
}

.box-1{
	background-color: lightcoral;
}
.box-2{
	background-color: lightgreen;
}