body{
	background-color: #C564DB;
}
/*
div .title{
	background-color: burlywood;
}
*/
/*
Enlace no hereda colo
inherit -forzar la herencia-
initial -quita la herencia-
*/

.title1 + .title-2{
	background-color: tomato;
}
.title1 ~ .text2{
	background-color: teal;
}

.title{
	color: inherit;
	font-size: px;
}
.title-2 {
	color: orange; 
}
